@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.court{
  background: #fff;
  width: 20%;
  height: 180px;
  border-radius: 5px;
  margin: 20px !important;
  margin-bottom: 40px !important;
  flex-grow: 4;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
}

.nameCourt{
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
}

.containerImageCourt{
  text-align: center;
  width: 100%;
  margin-top: 0px !important;
}

.containerPlayers{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Poppins";
  align-content: center !important;
  font-size: 12px;
  height: 20px;
  width: 200px;
  text-align: center;
  margin-top: 5px !important;
}

.players{
  font-family: "Poppins";
  font-size: 12px;
}

.boxIcon{
  margin-top: 5px !important;
  width: 20px !important;
}

.containerClock{
  display: flex;
  align-items: center !important;
  font-family: "Poppins";
  align-content: center !important;
  font-size: 15px !important;
  width: 140px;
  justify-content: center !important;
  margin-top: 5px !important;  
}

.clock{
  font-size: 15px;
}

.containerRestTime{
  height: 20px;
  text-align: center;
  font-family: "Poppins";
  font-size: 13px;  
}

.empty{
  background: red;
  width: 100%;
  height: 20px;
}


.modality{
  width: 100% !important;
  height: 20px;
  text-align: center;
  font-family: "Poppins";
  font-size: 13px;   
}