*, html, body {
  padding:0 auto !important;
  margin:0 auto  !important;
}

body{
  background: #EBEBEB;  
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.courts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 20px 20px;
}

.queueAndNotifications{
  background: black;
  width: 33%;
}