@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*, html, body {
  padding:0 auto !important;
  margin:0 auto  !important;
}

body{
  background: #EBEBEB;  
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.courts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 20px 20px;
}

.queueAndNotifications{
  background: #EBEBEB;
  width: 33%;
  padding-top: 40px;
  padding-right: 40px;
}

.queues{
  background: #fff;
  height: 92%;
  border-radius: 5px;
  padding: 20px;
  padding-right: 20px;

}

.warnings{
  background: #fff;
  height: 340px;
  border-radius: 5px;
  padding: 20px;
  padding-right: 20px;
  margin-bottom: 30px !important;  
}

.players{
  display: flex !important;

  font-family: "Poppins";
  width: 100% !important;
  text-align: left !important;
}

.icon-queue{
  width: 25px;
  margin-top: 4px !important;
}

.sidePlayers{
  width: 100% !important;
}

.BoxQueue{
  margin-top: 20px !important;
}

.playersModal{
}

.queueTitle{
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 800;  
}

.warning{
  font-family: "Poppins"; 
}

.warningBox{
  width: 100%;
  margin-bottom: 4px !important;
  background: rgb(149, 255, 163);
  border-radius: 2px;
  color: #000 !important;
  font-family: "Poppins";
  font-weight: 500;
  padding-left: 10px;
}

.warningBoxEmpty{
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  color: #919191;
  margin-top: 150px !important;
}

.bakcgroundModal{
  background: rgba(32, 11, 11, 0.6);
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal{
  z-index: 1;
  margin-top: 16% !important;
  padding: 50px;
  text-align: center;
  background: #fff;
  max-width: 400px;
  height: 300px;
  border-radius: 15px;
  font-family: "Poppins";
}

.title-modal{
  font-weight: 800;
}

.boxCourtsModal{
  margin-top: 40px !important;
}

.titleBoxCourts{
  font-weight: 600;
  color: red;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.attention{
  font-family: "Poppins";
  font-size: 800;
  color: red;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

@keyframes btn-pisca {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}


.shine{
  color:red;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px;
  -webkit-animation: btn-pisca .9s linear infinite;
  -moz-animation: btn-pisca .9s linear infinite;
  -ms-animation: btn-pisca .9s linear infinite;
  -o-animation: btn-pisca .9s linear infinite;
  animation: btn-pisca .9s linear infinite;
}

.shine-btn{
  background: red !important;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  padding-top: 6px;
}

.textShine-btn{
  font-size: 12px !important;
  color: #fff;
}

.shinehidde{
  display: none;
}

.imageinfo{
  width: 80px;
  height: 80px;
}