@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


.head{
  background: #fff;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 20px !important;
}

.clock{
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}